[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
certifi = "*"
chardet = "*"
click = "*"
html5lib = "*"
idna = "*"
itsdangerous = "*"
requests = "*"
six = "*"
soupsieve = "*"
urllib3 = "*"
webencodings = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
flask-cors = "*"
flask-mongoengine = "*"
flask-login = "*"
email-validator = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
selenium = "*"
pyppeteer = {editable = true, git = "https://github.com/miyakogi/pyppeteer.git", ref = "dev"}
fuzzywuzzy = "*"
python-levenshtein-wheels = "*"

[requires]
python_version = "3.8"
