{% extends "base.html" %}
{% block content %}
{% if current_user.is_anonymous %}
<div class="row justify-content-center">
  <div class="col-8">
    <h1>Sign in to use the rig builder.</h1>
  </div>
</div>
{% else %}
<div class="row">
    <div id="search-filters" class="col-2 p-0">
    <form id="filter-form">
        
        <div id="category-buttons" class="form-group pl-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="categories" id="all" value="all" checked>
              <label class="form-check-label" for="all">
                All
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="categories" id="guitar" value="guitar">
              <label class="form-check-label" for="guitar">
                Guitar
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="categories" id="drum" value="drum">
              <label class="form-check-label" for="drum">
                Drums
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="categories" id="bass" value="bass">
              <label class="form-check-label" for="bass">
                Bass
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="categories" id="keyboard_and_midi"
                value="keyboard_and_midi">
              <label class="form-check-label" for="keyboard_and_midi">
                Keyboard & Midi
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="categories" id="recording" value="recording">
              <label class="form-check-label" for="recording">
                Recording
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="categories" id="live_sound" value="live_sound">
              <label class="form-check-label" for="live_sound">
                Live Sound
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="categories" id="dj" value="dj">
              <label class="form-check-label" for="dj">
                DJ
              </label>
            </div>
          </div>
        <button type="submit" name="page" value="{{ page_info.page }}" class="btn btn-primary ml-3">Submit</button>
      </form>
      </div>



  <div class="col-10 pt-1 pl-5">
      <div class="mt-1 mb-5" id="riglist-container">
    <ul class="list-group" id="riglist">
        <h2>Your Rig</h2>
    </ul>
    <span class="riglist-text">Add items to your rig from below.</span>
    <div class="save-group d-flex justify-content-end">
        <span class="riglist-text">Save your list</span>
        <form id="riglist-form" action="/rigs" method="POST">
        <div class="form-group">
        <input class="form-control" name="name" type="text" placeholder="Rig name">
        <button type="submit" name="username" value="{{ current_user.username }}" class="btn btn-primary">Save</button>
        </div>
        </form>
    </div>
</div>
    <ul class="list-group mt-1" id="search">
      <h2>
        Gear Search
      </h2>
      <div class="form-group">
        <label for="product-search">
            Filter {{ page_info.num_products }} products
          </label>
        <div class="input-group col-12 justify-content-center mb-3">
            <input type="text" form="filter-form" name="q" id="product-search" placeholder="Search for a product" class="form-control typeahead"
              aria-label="Text input with dropdown button">
          </div>
    </div>
      <div id="results-table" class="results-table">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody id="table-data"></tbody>
        </table>

      </div>
    </ul>
    {% if page_info %}
    <nav aria-label="...">
      <ul class="pagination">
        
        {% if page_info.page == 1 %}
        <li class="page-item disabled"><button class="page-link btn btn-primary disabled" type="submit" form="filter-form" name="page" value="1" tabindex="-1" aria-disabled="true"><<</li>
        <li class="page-item disabled"><button class="page-link btn btn-primary disabled" type="submit" form="filter-form" name="page" value="{{ page_info.page - 1 }}" tabindex="-1" aria-disabled="true"><</li>
        <li class="page-item active"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page }}">{{ page_info.page }}</li>
        <li class="page-item"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page + 1 }}">{{ page_info.page + 1 }}</li>
        <li class="page-item"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page + 2 }}">{{ page_info.page + 2 }}</li>
        <li class="page-item"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page + 1 }}" tabindex="-1" aria-disabled="true">></li>
        <li class="page-item"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.number_of_pages }}" tabindex="-1" aria-disabled="true">>></li>
        {% elif page_info.page == page_info.number_of_pages %}
        <li class="page-item"><button class="page-link btn btn-primary " type="submit" form="filter-form" name="page" value="1" tabindex="-1" aria-disabled="true"><<</li>
        <li class="page-item"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page - 1 }}" tabindex="-1" aria-disabled="true"><</li>
        <li class="page-item"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page - 2}}">{{ page_info.page - 2}}</li>
        <li class="page-item"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page - 1 }}">{{ page_info.page - 1}}</li>
        <li class="page-item active"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page }}">{{ page_info.page}}</li>
        <li class="page-item disabled"><button class="page-link btn btn-primary disabled" type="submit" form="filter-form" name="page" value="{{ page_info.page + 1 }}" tabindex="-1" aria-disabled="true">></li>
        <li class="page-item disabled"><button class="page-link btn btn-primary disabled" type="submit" form="filter-form" name="page" value="{{ page_info.number_of_pages }}" tabindex="-1" aria-disabled="true">>></li>
        {% else %}
        <li class="page-item"><button class="page-link btn btn-primary " type="submit" form="filter-form" name="page" value="1" tabindex="-1" aria-disabled="true"><<</li>
            <li class="page-item"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page - 1 }}" tabindex="-1" aria-disabled="true"><</li>
            <li class="page-item"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page - 1}}">{{ page_info.page - 1 }}</li>
            <li class="page-item active"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page }}">{{ page_info.page }}</li>
            <li class="page-item"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page + 1}}">{{ page_info.page + 1 }}</li>
            <li class="page-item"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.page + 1 }}" tabindex="-1" aria-disabled="true">></li>
            <li class="page-item"><button class="page-link btn btn-primary" type="submit" form="filter-form" name="page" value="{{ page_info.number_of_pages }}" tabindex="-1" aria-disabled="true">>></li>

        {% endif %}
    {% endif %}
      </ul>
    </nav>

  </div>
</div>
</div>

{% endif %}
</div>

{% endblock %}